@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

.card img{
      width: 150px;
    height: 150px;
    margin: auto;
}

p.card-text i {
    margin-right: 10px;
}
p.card-text {
    font-size: 14px;
    margin-bottom: 8px;
}

.actions-btn a{
  display: flex;
  background-color: #0d6efd;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
      color: #fff;

}

.loader{
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-text {
    margin-left: 10px;
    font-weight: 500;
}